
body {
	text-align: center;
	/* TODO: font */
	font-family: Georgia, Times New Roman, Times, serif;
	font-weight: bold;
	font-size: 20px;
}

#bg {
	background: url("../img/bg.jpg");
	background-size: 100%;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}


/*************************************** bottom bar ***************************************/

body.js #bottom-bar {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 135px;
	z-index: 100;
	background-image: url("../img/footer.png");
}

body.js #bottom-bar #callout {
	height: 100px;
	line-height: 140px; /* must be adapted due to strange font behaviour */
	font-family: 'Luckiest Guy',Impact,Haettenschweiler,"Franklin Gothic Bold",Charcoal,Gadget,sans-serif;
	font-size: 110px;
	color: #FFB000;
	/*color: #512A0A;*/
}

body.js #bottom-bar #navi {
	height: 35px;
}

body.js #bottom-bar #navi a {
	line-height: 45px;
	font-family: 'Luckiest Guy',Impact,Haettenschweiler,"Franklin Gothic Bold",Charcoal,Gadget,sans-serif;
	font-size: 25px;
	text-decoration: none;
	color: #FFB000;
	padding: 0 .4em;
}

body.js #bottom-bar #navi a:hover {
	color: #F92B44;
}

body.js #footer1, body.js #footer2, body.js #footer3, body.js #footer4 {
	z-index: 75;
	position: fixed;
	bottom: -100px;
	width: 100%;
	height: 400px;
	background-repeat-y: no-repeat;
}
body.js #footer1 { background: url("../img/footer1.png"); }
body.js #footer2 { background: url(""); }
body.js #footer3 { background: url(""); }
body.js #footer4 { background: url(""); }

/************************************** main content **************************************/

body.js {
	/*position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;*/
}

body.js .box {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: auto;
	/*overflow-y: scroll;*/
	/*overflow-x: hidden;*/
	border-bottom: 200px solid transparent;
	/*box-sizing: border-box;*/
	/*min-height: 100%;*/
}

body.js .box .inner {
	max-width: 40em;
	z-index: 10;
	padding: 1px .4em 15px .4em;
	margin: 30px auto;
	border-radius: 50px;
	box-shadow: 1px 1px 30px #512A0A;
	/* TODO: background, font, font color */
	background-color: rgba(200,200,200,.6);
	/*background-color: rgba(81,42,10,.7);*/
	background-color: rgba(170,119,10,.8);
	color: #000;
	/*font-family: 'Luckiest Guy',Impact,Haettenschweiler,"Franklin Gothic Bold",Charcoal,Gadget,sans-serif;*/
	font-size: 16pt;
}

body.js .box .inner p {}
body.js .box .inner a {}
body.js .box .inner h1 {}
body.js .box .inner h2 {}
body.js .box .inner h3 {}

/*body.js #no1.box { left: 0%; }
body.js #no2.box { left: 100%; }
body.js #no3.box { left: 200%; }
body.js #no4.box { left: 300%; }
body.js #no5.box { left: 400%; }*/
