
body {
	text-align: center;
	/* TODO: font */
	font-family: Georgia, Times New Roman, Times, serif;
	font-weight: bold;
	font-size: 20px;


	position: fixed;
	width: 100%;
	min-height: 100%;
	overflow-x: hidden;
}

#bg {
	background: url("../img/bg.jpg");
	background-size: 100% 100%;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	min-width: 800px;
	height: 100%;
}


/*************************************** bottom bar ***************************************/

html #bottom-bar {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 135px;
	z-index: 100;
	background-image: url("../img/footer.png");
}

html #bottom-bar #callout {
	height: 100px;
	line-height: 140px; /* must be adapted due to strange font behaviour */
	font-family: 'Luckiest Guy',Impact,Haettenschweiler,"Franklin Gothic Bold",Charcoal,Gadget,sans-serif;
	font-size: 105px;
	color: #FFB000;
	/*color: #512A0A;*/
	text-shadow: 0px 0px 4px #733010;
}

html #bottom-bar #navi {
	height: 35px;
}

html #bottom-bar #navi a {
	line-height: 45px;
	font-family: 'Luckiest Guy',Impact,Haettenschweiler,"Franklin Gothic Bold",Charcoal,Gadget,sans-serif;
	font-size: 25px;
	text-decoration: none;
	color: #FFB000;
	text-shadow: 0px 0px 4px #733010;
	padding: 0 .4em;
}

html #bottom-bar #navi a:hover {
	color: #F92B44;
}

html #footer1, html #footer2, html #footer3, html #footer4 {
	z-index: 75;
	position: fixed;
	bottom: -100px;
	width: 100%;
	height: 400px;
	background-repeat-y: no-repeat;
}

html #footer1 { background: url("../img/footer1.png"); }
html #footer2 { background: url(""); }
html #footer3 { background: url(""); }
html #footer4 { background: url(""); }

@media (max-width: 1250px) {
	html #bottom-bar #callout {
		font-size: 90px;
	}
}

@media (max-width: 1050px) {
	html #bottom-bar #callout {
		font-size: 80px;
	}
}

@media (max-width: 900px) {
	html #bottom-bar #callout {
		font-size: 65px;
	}
}

@media (max-width: 750px) {
	html #bottom-bar #callout {
		font-size: 55px;
		height: 65px;
		line-height: 70px;
	}
	html #bottom-bar #navi {
		height: 80px;
		line-height: 120px;
	}
}

@media (max-width: 650px) {
	html #bottom-bar #callout {
		font-size: 45px;
	}
	html #bottom-bar #navi a {
		font-size: 18px;
	}
}

@media (max-width: 550px) {
	html #bottom-bar #callout {
		font-size: 40px;
	}
}

@media (max-width: 500px) {
	html #bottom-bar #callout {
		font-size: 35px;
	}
}

@media (max-width: 450px) {
	/* TODO: linearize */
}

/************************************** main content **************************************/

html {}

html .box {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: auto;
	border-bottom: 200px solid transparent;
}

html .box .inner {
	max-width: 40em;
	z-index: 10;
	padding: 1px .4em 15px .4em;
	margin: 30px auto;
	border-radius: 50px;
	box-shadow: 1px 1px 30px #512A0A;
	/* TODO: background, font, font color */
	background-color: rgba(200,200,200,.6);
	/*background-color: rgba(81,42,10,.7);*/
	background-color: rgba(170,119,10,.8);
	color: #000;
	font-size: 15pt;
	font-weight: normal;
	font-family: "Lato",Haettenschweiler,"Franklin Gothic Bold",Charcoal,Gadget,sans-serif;
}

@media (max-width: 54em) {
	html .box .inner {
		margin: 30px 1em;
	}
}

html .box .inner p {}
html .box .inner a {}
html .box .inner h1, html .box .inner h2, html .box .inner h3 {
	text-shadow: 2px 2px #ffb000;
	text-shadow: 2px 2px #cc9000;
	font-family: "Lobster",Haettenschweiler,"Franklin Gothic Bold",Charcoal,Gadget,sans-serif;
}

/************************************** main content **************************************/

html.no-js .box {
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: auto;
	margin-bottom: 4em;
	/*border-bottom: 200px solid transparent;*/
	border-bottom: none;
}

html.no-js .pt-page {
	display: block;
	position: relative;
}

html.no-js .box:last-child {
	border-bottom: 200px solid transparent;
}

/***************************************** stuff *****************************************/

#pfand {
	position: fixed;
	left: -500px;
	bottom: 0px;
	/*width: 500px;*/
}

#adrian {
	position: fixed;
	top: -320px;
	right: -280px;
}